web/WEB-INF/wsdl/localhost_8080/TravelAgencyWS/FlightCheckerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://travel.hw2.services.web/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://travel.hw2.services.web/">

<xs:element name="checkFlight" type="tns:checkFlight"/>

<xs:element name="checkFlightResponse" type="tns:checkFlightResponse"/>

<xs:element name="reserve" type="tns:reserve"/>

<xs:element name="reserveResponse" type="tns:reserveResponse"/>

<xs:complexType name="checkFlight">
<xs:sequence>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="departure" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkFlightResponse">
<xs:sequence>
<xs:element name="return" type="tns:trip" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trip">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reserve">
<xs:sequence>
<xs:element name="trip" type="tns:trip" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>